@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

/* CSS default */

html {
    scroll-behavior: smooth;
}

/* Global Styles */

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    outline: none;
    transition: 0.2s;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #000;
    background-color: transparent;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}

/* Seção Menu */

#header {
    background: #E3E6F3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 1rem; /* 1rem = 16px*/
    font-weight: 600;
    color: #1a1a1a;
}

#navbar li a:hover,
#navbar li a.active {
    color: #008178
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: '';
    width: 30%;
    height: 2px;
    position: absolute;
    bottom: -4px;
    left: 20px;
    background: #008178;
}

#mobile {
    display: none;
    align-items: center;
}

/* Seção hero */
#hero {
    background-image: url('/img/hero-alisson.png');
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 40% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h3 {
    color: #008178;
}

#hero button {
    background: url('/img/button.png');
    background-color: transparent;
    color: #008178;
    padding: 14px 80px 14px 65px;
    font-weight: 700;
    font-size: 15px;
    border: none;
}

/* Feature */

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*
.section-p1 {
    padding: 40px 80px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
*/

#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 25px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);

    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(0, 0, 0, 0.01);
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}
/*
.bg-1 {
    background-color: #cdebbc !important;
}
.bg-2 {
    background-color: red;
}
.bg-3 {
    background-color: #d1e8f2;
}
.bg-4 {
    background-color: #cdd4f8;
}
.bg-5 {
    background-color: #f6dbf6;
}
*/

#feature .fe-box:nth-child(2) h6 {
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6 {
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6 {
    background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6 {
    background-color: #f6dbf6;
}

/* Section product*/

#product1 {
    text-align: center;
}

#product1 #pro-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

#product1 .pro {
    position: relative;
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease; /* 2 milisegundos*/
}

#product1 .pro img {
    width: 100%;
    border-radius: 10px;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro .description {
    text-align: start;
    padding: 10 0;
}

#product1 .pro span {
    color: #606063;
    font-size: 12px;
}

#product1 .pro h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #008178;
}

#product1 .pro h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .description i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .cart {
    position: absolute;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    background-color: #e8f6ea;
    border: 1px solid #cce7d0;
    bottom: 20px;
    right: 10px

}

/* Section Banner */

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('/img/banner/b2.jpg');
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    color: #fff;
    padding: 10px 0;
}

#banner h2 {
    color: #fff;
    padding: 10px 0;
}

#banner h2 span {
    color: #ef3636;
}

#banner button:hover {
    background-color: #088178;
    color: #fff;
}

/*Seção banner*/

#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("/img/banner/b17.jpg");
    min-width: 48%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}

#sm-banner .banner-box2 {
    background-image: url('/img/banner/b10.jpg');
}

#sm-banner h2 {
    font-size: 28px;
    color: #fff;
    font-weight: 800;
}

#sm-banner p {
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover button {
    background-color: #008178;
    border: 1px solid #008178;
}

/* Seções de banner pequenos */

#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("/img/banner/b7.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 .banner-box2 {
    background-image: url('/img/banner/b4.jpg');
}

#banner3 .banner-box3 {
    background-image: url('/img/banner/b18.jpg');
}


#banner3 h2 {
    font-size: 22px;
    color: #fff;
    font-weight: 900;
}

#banner3 h3 {
    font-size: 14px;
    color: #ec544e;
    font-weight: 800;
}


/* Secao newsletters*/

#newsletters {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #041E41;
    background-image: url('/img/banner/b14.png');
    background-repeat: repeat;
    background-position: 20% 20%;
}

#newsletters h4, p {
    color: white;
    font-size: 21px;
    font-weight: 700;
}
#newsletters p span {
    color: #B5740E;
}

#newsletters input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletters button {
    background-color: #088178;
    color: #fff;
    white-space: nowrap;
}

#newsletters .form {
    display: flex;
    width: 40%;
}

.col1 {
    width: 50%;

}


.col2 {
    width: 50%;
}

.col2 input {
    padding: 10px;
    width: 80%;
    border-radius: 5px;
}

.col2 button {
    padding: 10px;
    color: white;
    background-color: #098177;    
}

/*Footer*/

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col-1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    width: 20%;
}

footer .logo {
    margin-bottom: 20px;
}

footer h4 {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    color: #222;
    margin: 0 0 8px 0;
}

  
footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img {
    border: 1px solid #088178;
    border-radius: 6px;
    width: 60%;
}

footer .install img {
    margin: 10px 0 15px 0;
   
}

footer .follow i:hover, footer a:hover {
    color: #008178;
}

footer .copyright {
    width: 100%;
    text-align: center;  
}

/* Versão mobile */
/* Tamanho da tela*/
@media (max-width: 799px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transform: 0.3s;
    }

    #navbar.active {
        right: 0;
    }

    #navbar li {
        margin-top: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close {
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }
}